><!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container-form">

        <h3 class="txt_gris_medio">Acceder</h3>
        <div class="login-conatainer">
            {% if forms.errors%}
                <div class="alert alert-danger"><p>Tu usuario y contreaseña no coinciden. Por favor intenta nuevamente</p></div>
            {%endif%}
        </div>
        <form id="form-login" method="post" action="">
            {% csrf_token %}
            <div class="w450" id="username">
                {{form.username}}
            </div>
            <div class="w450" id="password">
                {{form.password}}
            </div>
            <button id="btn-registrar" class="button_large">Entrar</button>
            <div class="clearfix"></div>
        </form>
        <a href="#" class="txt_verde txt_center mt15 mb20" style="display: block">Aviso de privacidad</a>
    </div>
</body>
</html>